@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Tapestry&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;     
    background: #000000;     
    box-sizing: border-box;
    color: #FFFFFF;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}


body {
    width: 100vw;
    margin: 0 auto;    
    max-width: 90%;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    text-align: center;
    
}

.menu-nav,
.menu-user {
    display: inline-flex;
    gap: 40px;
    align-items: right;
}

.container h2{
    margin-bottom: .5rem;
}

/* .menu-nav li a {
    padding: 0 15px 10px ;
    transition: all 0.5s ease-in-out;
} */

/* .menu-nav li a:hover{
   
    border-bottom: 1px solid #ffff;
} */


.menu-user {
    display: inline-flex;
    gap: 50px;
    padding: 0 15px 10px ;
    align-items: right;
    
}

main{
    display: flex; 
    max-width: 1321;
    max-height: 689;
    justify-content: center;
    align-items: center;    
}

.section-left{
    padding: 0;
    width: 494px;
    height: 398px;
}

.section-left h4{
    font-size: 1.5rem;
    font-weight: 400;
    color: #BDBDBD;
}

.section-left h1{
    color: #FFFFFF;
    font-size: 4rem;
    font-weight:bold;
    display: inline-block;
    margin-bottom:1.5rem;
    
}

.section-left .sub-title{
    font-size: 24px;
    font-weight: medium;
}

 .section-left .discrition{
    font-size: 1rem;
    /* line-height: 1.5rem; */
    font-weight: 300;
}

.section-right img{
    width: 600px;
}